<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>SBD15 - Moja baza pracowników</h1>

<h2>Pracownicy:</h2>
<h3>Dodaj nowego pracownika: </h3>
<form action="/insertUser" method="post">
    <input type="text" name="last_name" placeholder="Nazwisko">
    <input type="text" name="first_name" placeholder="Imię">
    <input type="text" name="email" placeholder="email">
    <button type="submit">Add new user</button>
</form>

<form action="/eraseAllUsers" method="post">
    <button type="submit">Usuń wszystkich pracowników</button>
</form>


<h2>Regiony:</h2>
<h3>Lista Regionów:</h3>

<form action="/insertRegions" method="post">
    <input type="text" name="region" placeholder="New region">
    <button type="submit">Dodaj nowy region</button>
</form>

<form action="/deleteAllRegions" method="post">
    <button type="submit">Usuń wszystkie regiony</button>
</form>

<h3>Wyświetl dane pracownika:</h3>
<form id="employeeForm">
    <label for="employee_id">ID pracownika:</label>
    <input type="text" id="employee_id" name="employee_id">
    <button type="button" onclick="getEmployee()">Wczytaj ID</button>
</form>

<div id="employeeLink"></div>

<script>
    function getEmployee() {
        var employeeId = document.getElementById('employee_id').value;
        var link = '/getUser/' + employeeId;
        document.getElementById('employeeLink').innerHTML = '<button onclick="window.location.href=\'' + link + '\'">Wyświetl dane pracownika</button>';
    }
</script>

</body>
</html>

